[submodule "3dparty/lib3mf"]
	path = 3dparty/lib3mf
	url = https://github.com/3MFConsortium/lib3mf.git
[submodule "3dparty/opencv"]
	path = 3dparty/opencv
	url = https://github.com/opencv/opencv.git
[submodule "3dparty/spdlog"]
	path = 3dparty/spdlog
	url = https://github.com/gabime/spdlog.git
